<%- include('../common/base_boxed_basic_query/html.ejs', {
  subject: subject,
  summary: summary,
  content: '<h1>Welcome on board !</h1>',
  coverImage: 'http://www.designbolts.com/wp-content/uploads/2015/06/Flat-Logo-Design-Examples-2015-3.png',
  headerTopRight: '',
  footer:
    '<a href="http://tilap.net">mon site</a>' +
    '&nbsp;&nbsp;&nbsp;' +
    '<a href="http://twitter.com/jlavinh">twitter</a>',
}) %>
